<header class="header-desktop3 d-none d-lg-block">
    <div class="section__content section__content--p35">
        <div class="header3-wrap">
            <div class="header__logo">
                <a href="/user/">
                    <img src="/uploads/site_images/devugo_logo.jpg" width="40" alt="Site logo" />
                </a>
            </div>
            <div class="header__navbar">
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ path('user_exams') }}">
                            <i class="fas fa-book"></i>
                            <span class="bot-line"></span>Exams</a>
                    </li>
                    <li>
                        <a href="{{ path('user_results') }}">
                            <i class="fas fa-trophy"></i>
                            <span class="bot-line"></span>Results</a>
                    </li>
                </ul>
            </div>
            <div class="header__tool">
                <div class="header-button-item has-noti js-item-menu">
                    <i class="zmdi zmdi-notifications"></i>
                    <div class="notifi-dropdown notifi-dropdown--no-bor js-dropdown">
                        <div class="notifi__title">
                            <p>You have {{ no_of_unread|length }} new Notifications</p>
                        </div>
                        {% for noti in notifications %}
                            <div class="notifi__item">
                                <div class="bg-c2 img-cir img-40">
                                    <i class="zmdi zmdi-account-box"></i>
                                </div>
                                <div class="content">
                                    <p>{{ noti.title }}</p>
                                    <span class="date">{{ noti.createdAt|ago }}</span>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="notifi__footer">
                            <a href="{{ path('user_notifications') }}">All notifications</a>
                        </div>
                    </div>
                </div>
                <div class="account-wrap">
                    <div class="account-item account-item--style2 clearfix js-item-menu">
                        <div class="image">
                            <img src="/uploads/user_avatars/{{ app.user.photo }}" alt="{{ app.user.username }}" />
                        </div>
                        <div class="content">
                            <a class="js-acc-btn" href="#">{{ app.user.username }}</a>
                        </div>
                        <div class="account-dropdown js-dropdown">
                            <div class="info clearfix">
                                <div class="image">
                                    <a href="#">
                                        <img src="/uploads/user_avatars/{{ app.user.photo }}" alt="{{ app.user.username }}" />
                                    </a>
                                </div>
                                <div class="content">
                                    <h5 class="name">
                                        <a href="#">{{ app.user.lastname }} {{ app.user.firstname }}</a>
                                    </h5>
                                    <span class="email">{{ app.user.email }}</span>
                                </div>
                            </div>
                            <div class="account-dropdown__body">
                                <div class="account-dropdown__item">
                                    <a href="{{ path('user_account') }}">
                                        <i class="zmdi zmdi-account"></i>Account</a>
                                </div>
                            </div>
                            <div class="account-dropdown__footer">
                                <a href="{{ path('app_logout') }}">
                                    <i class="zmdi zmdi-power"></i>Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>