{% extends 'base.html.twig' %}

{% block title %}Devugo CBT - User Groups{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="page-wrapper">
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar2">
            <div class="logo">
                <a href="/admin/">
                    <img src="{{ asset('uploads/site_images/devugo_logo.jpg') }}" width="40" alt="Site Logo" /> <span style="color: white; font-size: 25px;">DEVUGO CBT</span>
                </a>
            </div>
            <div class="menu-sidebar2__content js-scrollbar1">
                <div class="account2">
                    <div class="image img-cir img-120">
                        <img style="width: 130px; height: 130px" src="/uploads/user_avatars/{{ app.user.photo }}" alt="{{ app.user.username }} photo" />
                    </div>
                    <h4 class="name">{{app.user.username}}</h4>
                    <a href="/logout">Sign out</a>
                </div>
                <nav class="navbar-sidebar2">
                    <ul class="list-unstyled navbar__list">
                        <li>
                            <a href="{{ path('admin_dashboard') }}">
                                <i class="fas fa-tachometer-alt"></i>Dashboard
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('admin_users') }}">
                                <i class="fas fa-user"></i>Users</a>
                        </li>
                        <li class="active has-sub">
                            <a href="{{ path('admin_user_groups') }}">
                                <i class="fas fa-users"></i>User Groups</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_subjects') }}">
                                <i class="fas fa-indent"></i>Subjects</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_levels') }}">
                                <i class="fas fa-align-right"></i>Levels</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_users') }}">
                                <i class="fas fa-list-alt"></i>Questions</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_exams') }}">
                                <i class="fas fa-book"></i>Exams</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_account_types') }}">
                                <i class="fas fa-thumb-tack"></i>Account Types</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_notifications') }}">
                                <i class="fas fa-bell"></i>Notifications</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_results') }}">
                                <i class="fas fa-trophy"></i>Results</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container2">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop2">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap2">
                            <div class="logo d-block d-lg-none">
                                <a href="/admin/">
                                    <img src="{{ asset('uploads/site_images/devugo_logo.jpg') }}" width="40" alt="Site Logo" />
                                </a>
                            </div>
                            <div class="header-button2">
                                <div class="header-button-item mr-0 js-sidebar-btn">
                                    <i class="zmdi zmdi-menu"></i>
                                </div>
                                <div class="setting-menu js-right-sidebar d-none d-lg-block">
                                    <div class="account-dropdown__body">
                                        <div class="account-dropdown__item">
                                           <a href="{{ path('admin_profile') }}">
                                            <i class="fas fa-user"></i>Profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <aside class="menu-sidebar2 js-right-sidebar d-block d-lg-none">
                <div class="logo">
                    <a href="/admin/">
                        <img src="{{ asset('uploads/site_images/devugo_logo.jpg') }}" width="40" alt="Site Logo" />
                    </a>
                </div>
                <div class="menu-sidebar2__content js-scrollbar2">
                    <div class="account2">
                        <div class="image img-cir img-120">
                            <img src="/uploads/user_avatars/{{ app.user.photo }}" alt="{{ app.user.username }} photo" />
                        </div>
                        <h4 class="name">{{ app.user.lastname }} {{ app.user.firstname }}</h4>
                        <a href="/logout">Sign out</a>
                    </div>
                    <nav class="navbar-sidebar2">
                        <ul class="list-unstyled navbar__list">
                            <li>
                                <a href="{{ path('admin_dashboard') }}">
                                    <i class="fas fa-tachometer-alt"></i>Dashboard
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('admin_users') }}">
                                    <i class="fas fa-user"></i>Users</a>
                            </li>
                            <li class="active has-sub">
                                <a href="{{ path('admin_user_groups') }}">
                                    <i class="fas fa-users"></i>User Groups</a>
                            </li>
                            <li>
                                <a href="{{ path('admin_subjects') }}">
                                    <i class="fas fa-indent"></i>Subjects</a>
                            </li>
                            <li>
                                <a href="{{ path('admin_levels') }}">
                                    <i class="fas fa-align-right"></i>Levels</a>
                            </li>
                            <li>
                                <a href="{{ path('admin_questions') }}">
                                    <i class="fas fa-list-alt"></i>Questions</a>
                            </li>
                            <li>
                                <a href="{{ path('admin_exams') }}">
                                    <i class="fas fa-book"></i>Exams</a>
                            </li>
                            <li>
                                <a href="{{ path('admin_account_types') }}">
                                    <i class="fas fa-thumb-tack"></i>Account Types</a>
                            </li>
                            <li>
                                <a href="{{ path('admin_notifications') }}">
                                    <i class="fas fa-bell"></i>Notifications</a>
                            </li>
                            <li>
                                <a href="{{ path('admin_results') }}">
                                    <i class="fas fa-trophy"></i>Results</a>
                            </li>
                            <li>
                                <a href="{{ path('admin_profile') }}">
                                    <i class="fas fa-user"></i>Profile</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </aside>
            <!-- END HEADER DESKTOP-->

            <div id="admin-user_groups"></div><br /><br /><br /><br /><br />

            {% include 'admin/layout/footer.html.twig' %}

           
            <!-- END PAGE CONTAINER-->
        </div>

    </div>
{% endblock %}
